<body class="font-sans antialiased bg-gray-100">
  <div class="flex-grow">
      <!-- Konten halaman dapat ditambahkan di sini -->
  </div>
  <footer class="bg-gradient-to-r from-blue-500 to-purple-600 text-white py-8">
      <div class="container mx-auto px-4">
          <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="text-center md:text-left">
                  <a href="/" class="text-2xl font-bold">CahKost</a>
                  <p class="mt-2">
                      making it a comfortable place for a second home in your hometown
                  </p>
              </div>
              <div class="flex space-x-4">
                  <a href="/assets/file/Kebijakan Privasi.pdf" class="text-gray-400 hover:text-white" download="Kebijakan_Privasi.pdf">
                      Privacy Policy
                  </a>
                  <a href="/assets/file/Syarat dan Penggunaan.pdf" class="text-gray-400 hover:text-white" download="Syarat_dan_Penggunaan.pdf">
                      Terms of Service
                  </a>
              </div>
          </div>
          <div class="mt-8 flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="flex space-x-4">
                  <a href="#">
                      <img src="/assets/images/ig.png" alt="Instagram" class="h-6" />
                  </a>
                  <a href="#">
                      <img src="/assets/images/wa.jpeg" alt="WhatsApp" class="h-6" />
                  </a>
              </div>
              <p>&copy; 2024 CahKost. All Rights Reserved.</p>
          </div>
      </div>
  </footer>
</body>